<!-- footer start -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-12 footer-info">
            <h3>Pixel Web</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="home.html">Home</a></li>
              <li><a href="home.html#about">About us</a></li>
              <li> Employee Services
                <ul class="fl-submenu">
                  <li><a href="service-time.html">Timesheet Entry</a></li>
                  <li><a href="service-goal.html">Goals</a></li>
                  <li><a href="service-docs.html">Documents</a></li>
                </ul>
              </li>
              <li><a href="contact.html">Contact us</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A123, ABC Street, <br>
              New Paltz, New York, <br>
              45678, United States <br>
              <strong>Phone:</strong> +1 234 567 8910<br>
              <strong>Fax:</strong> +1 234 567 8910<br>
              <strong>Email:</strong> info@pixel.com<br>
            </p>

            <div class="social-links">
              <a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.instagram.com/" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        Pixel's purpose and the logo are trademarks of Pixel or its affiliates. &copy; 2022 <br>
        AB-XXX-XX-00-0001
      </div>
    </div>
  </footer>
  <!-- footer end -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>