<!-- contact section start -->
  <section id="contact">
    <div class="container">
      <h1 style="text-align: center;">Contact</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p><br>
      <div class="row">
        <div class="col-lg-6">

          <p><strong>Email:</strong> info@pixel.com</p>
          <p><strong>Phone:</strong> 1-234-567-8910</p>
          <p><strong>Fax:</strong> 1-234-567-8910</p>
          <p><strong>Office:</strong> A123, ABC Street, New Paltz, New York, NY 45678, United States</p>
        </div>
      </div>
    </div>
  </section>
  <!-- contact section end -->