<!-- login register section start -->
<section id="lr-sec">
    <div class="container">
      <div id="login-wrap">
        <div id="editprofile">
          <h2>Edit Profile</h2>
            <p class="error"></p>
            <input type="text" name="firstname" id="firstname" placeholder={{fname}} required>
            <input type="text" name="lastname" id="lastname" placeholder={{lname}} required>
            <input type="text" name="username" id="username" placeholder={{uname}} required>
            <div class="btns">
              <button class="btn btn-primary" type="submit" value="Edit" id="editbtn" onclick="edituserprofile()">Edit</button>
              <button class="btn btn-primary" type="button" value="Cancel" onclick="editreturn()">Cancel</button>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- login register section end -->