{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}

<!-- Error Section Start -->
<section id="errorpage">
    <div class="container">
        <div class="e1">4</div>
        <i class="e2 fa-question-circle fa-spin"></i>
        <div class="e3">4</div>
        <div class="msg"><em>Ooops.....</em><br><em>page not found</em>
            <p>Let's go <a href="/home">home</a> and try again later.</p>
        </div>
    </div>
</section>
<!-- Error Section End -->