<script type="text/javascript" src="js/home.js"></script>
<!-- Home carousel start -->
<div id="home-carousel">
  <div class="slideshow-container">

    <div class="slide fade">
      <img src="images/nick-fewings-EkyuhD7uwSM-unsplash.jpg" alt="Team, Lead, Succeed - Three fundamental rules">
      <div class="text">Team, Lead, Succeed - Three fundamental rules</div>
    </div>

    <div class="slide fade">
      <img src="images/rawkkim-I4-0Y68ob7o-unsplash.jpg" alt="cloud management">
      <div class="text">Pixel Web cloud management through api</div>
    </div>

    <div class="slider">
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

  </div>
</div>
<!-- Home carousel end -->

<!-- about section start-->
<section id="about">
  <div class="container">

    <div class="section-header">
      <h3>About Us</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
        est laborum.</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-xs-12">
        <div class="about-col">
          <div class="img">
            <img src="images/hamza-nouasria-h8CYq5InIAI-unsplash.jpg" alt="mission" class="img-fluid">
          </div>
          <h2 class="title"><a href="#">Our Mission</a></h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-xs-12">
        <div class="about-col">
          <div class="img">
            <img src="images/kelly-sikkema-6aY-6B3MiZ4-unsplash.jpg" alt="plan" class="img-fluid">
          </div>
          <h2 class="title"><a href="#">Our Plan</a></h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-xs-12">
        <div class="about-col">
          <div class="img">
            <img src="images/shreesha-bhat-Dfmttq_gMDI-unsplash.jpg" alt="vision" class="img-fluid">
          </div>
          <h2 class="title"><a href="#">Our Vision</a></h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </p>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- about section end-->

<!-- projects section start -->
<section id="projects">
  <div class="container">

    <div class="section-header">
      <h3 class="section-title">Our Projects</h3>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul id="project-flters">
          <li data-filter="*" onclick="filterObjects('all')" class="filter-active">All</li>
          <li data-filter=".filter-ls" onclick="filterObjects('filter-ls')">Life Science</li>
          <li data-filter=".filter-m" onclick="filterObjects('filter-m')">Media</li>
          <li data-filter=".filter-t" onclick="filterObjects('filter-t')">Telecom</li>
        </ul>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6 project-item filter-ls">
        <div class="project-wrap">
          <figure>
            <img src="images/ls1.jpg" class="img-fluid" alt="Human Medicines">
          </figure>

          <div class="project-info">
            <h4><a href="#">Human Medicines</a></h4>
            <p>Healthcare website</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 project-item filter-t">
        <div class="project-wrap">
          <figure>
            <img src="images/t3.jpg" class="img-fluid" alt="Spectrum">
          </figure>

          <div class="project-info">
            <h4><a href="#">Spectrum</a></h4>
            <p>Telecom app</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 project-item filter-ls">
        <div class="project-wrap">
          <figure>
            <img src="images/ls2.jpg" class="img-fluid" alt="Animal Medicines">
          </figure>

          <div class="project-info">
            <h4><a href="#">Animal Medicines</a></h4>
            <p>Healthcare website</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 project-item filter-m">
        <div class="project-wrap">
          <figure>
            <img src="images/m2.jpg" class="img-fluid" alt="Library Management">
          </figure>

          <div class="project-info">
            <h4><a href="#">Library Management</a></h4>
            <p>Website</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 project-item filter-t">
        <div class="project-wrap">
          <figure>
            <img src="images/t2.jpg" class="img-fluid" alt="T-Mobile">
          </figure>

          <div class="project-info">
            <h4><a href="#">T-Mobile</a></h4>
            <p>Telecom app</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 project-item filter-ls">
        <div class="project-wrap">
          <figure>
            <img src="images/ls3.jpg" class="img-fluid" alt="Consultation">
          </figure>

          <div class="project-info">
            <h4><a href="#">Consultation</a></h4>
            <p>Healthcare website</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 project-item filter-m">
        <div class="project-wrap">
          <figure>
            <img src="images/m1.jpg" class="img-fluid" alt="Student Management">
          </figure>

          <div class="project-info">
            <h4><a href="#">Student Management</a></h4>
            <p>Website</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 project-item filter-m">
        <div class="project-wrap">
          <figure>
            <img src="images/m3.jpg" class="img-fluid" alt="ECops">
          </figure>

          <div class="project-info">
            <h4><a href="#">ECops</a></h4>
            <p>Website</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 project-item filter-t">
        <div class="project-wrap">
          <figure>
            <img src="images/t1.jpg" class="img-fluid" alt="Vodafone">
          </figure>

          <div class="project-info">
            <h4><a href="#">Vodafone</a></h4>
            <p>Telecom app</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 project-item filter-t">
        <div class="project-wrap">
          <figure>
            <img src="images/t4.jpg" class="img-fluid" alt="Airtel">
          </figure>

          <div class="project-info">
            <h4><a href="#">Airtel</a></h4>
            <p>Telecom app</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- projects section end -->