<!-- service goal section start -->
  <section id="service-goal">
    <div class="container mt-5 mb-5">
      <h1 style="text-align: center;">Performance Check</h1>
      <hr>
      <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-8">
          <div class="coment-bottom bg-white p-2 px-4">
            <div class="flex-row add-comment-section mt-4 mb-4">
              <h3><u>Goals:</u></h3><br>
              <ul>
                <li>Number of reusable components developed</li>
                <li>post project delivery bug ratio</li>
                <li>Certification</li>
                <li>Trainings attended</li>
                <li>number of leaves taken</li>
                <li>customer appreciations(if any)</li>
              </ul>
              <br>
              <textarea id="goal-comment" rows="4" cols="50" class="form-control mr-3"
                placeholder="Add comment"></textarea><br>
              <button class="btn btn-primary" type="button" id="goal-btn"
                onclick="add_comments(this.id);">Comment</button>
            </div>
            <div class="commented-section mt-2" id="goal-data"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- service goal section end -->