<!-- service docs section start -->
  <section id="service-docs">
    <div class="container">
      <h1 style="text-align: center;">Documents</h1>
      <hr>
      <div class="row doc-sec">
        <div class="doc-info offer-letter">
          <h4><u>Offer Letter</u></h4><br>
          <a href="#"> Offer Letter
            <img src="images/svg/file-pdf-solid.svg" alt="PDF ICON" />
          </a>
        </div>
        <div class="doc-info compensation">
          <h4><u>Annual Compensation</u></h4><br>
          <a href="#"> FY 2021-2022
            <img src="images/svg/file-pdf-solid.svg" alt="PDF ICON" />
          </a>
        </div>
        <div class="doc-info payslips">
          <h4><u>Pay Slips</u></h4><br>
          <a href="#"> Mar 2022
            <img src="images/svg/file-pdf-solid.svg" alt="PDF ICON" />
          </a>
          <br><br>
          <a href="#"> Apr 2022
            <img src="images/svg/file-pdf-solid.svg" alt="PDF ICON" />
          </a>
          <br><br>
          <a href="#"> May 2022
            <img src="images/svg/file-pdf-solid.svg" alt="PDF ICON" />
          </a>
          <br><br>
        </div>
        <div class="doc-info resume">
          <h4><u>Resume</u></h4><br>
          <a href="#">Resume
            <img src="images/svg/file-word-solid.svg" alt="WORD ICON" />
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- service docs section end -->