<!-- login register section start -->
  <section id="lr-sec">
    <div class="container">
      <div id="login-wrap">
        <div id="login">
          <h2>Login</h2>
          {{#if messages.error}}
            <p style="color:red">{{messages.error}}</p>
          {{/if}}
          <form method="post" action="/authentication">
            <input type="text" name="username" id="login-username" placeholder="Username" required><br />
            <input type="password" name="pass" id="login-pass" placeholder="Password" required>
            <div class="btns">
              <a href="/#"><button class="btn btn-primary" type="submit" value="Login" id="login-btn">Login</button></a>
              <a href="/register"><button class="btn btn-primary" type="button" value="Sign Up" id="sign-up" onclick="register()">Sign
                Up</button></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- login register section end -->